name: CI/CD for model training

on:
  push:
    branches: [ main ]
    paths:
      - "data/**"
      - "data.dvc"
      - "dvc.yaml"
      - "train.py"
      - "src/**"
      - "scripts/**"
      - ".github/workflows/**"
  workflow_dispatch:
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

permissions:
  contents: read
  packages: write

jobs:
  train_on_server:
    name: Train on server
    runs-on: ubuntu-latest
    steps:
      - name: ssh run + training
        uses: appleboy/ssh-action@v1.1.0
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
        with:
          host: ${{ secrets.TRAINING_SERVER_HOST }}
          username: ${{ secrets.TRAINING_SERVER_USER }}
          key: ${{ secrets.TRAINING_SERVER_KEY }}
          port: ${{ secrets.TRAINING_SERVER_PORT }}
          command_timeout: 30m
          envs: AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY,S3_BUCKET
          script: |
            set -e
            export PATH="$HOME/miniconda3/bin:$PATH"
            echo "== Setup env ==="
            if [ ! -d "mlops_cicd/.git" ]; then
              echo "Repo not found, cloning..."
              git clone https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git mlops_cicd
            fi
            cd mlops_cicd
            
            echo "== Pull lastest code =="
            git fetch --all
            git reset --hard origin/main
            
            chmod +x scripts/setup_train_server.sh
            ./scripts/setup_train_server.sh
            
            # activate conda
            source $HOME/miniconda3/etc/profile.d/conda.sh
            conda activate mlops-cicd
            
            echo "== Check if data.dvc changed =="
            # git diff HEAD~1 HEAD to check if it has diff between two commits
            # list file hass diff then -> find the file has name "data.dvc" ->  only return 0 (success exec) or 1
            # -> -q for quite return if it have -> 0 -> true , 1 false
            
            if git rev-parse HEAD~1 >/dev/null 2>&1; then
              DATA_CHANGED=$(git diff HEAD~1 HEAD --name-only | grep -q "data.dvc" && echo "true" || echo "false")
            else
              DATA_CHANGED="true"
            fi
            echo "Data changed: $DATA_CHANGED"
            
            echo "== init conda =="
            source $HOME/miniconda3/etc/profile.d/conda.sh
            conda activate mlops-cicd || { echo "Conda env not found"; exit 1; }
            
            echo "== setup mlflow =="
            MLFLOW_DIR="$HOME/mlflow_data"
            mkdir -p $MLFLOW_DIR
            
            export MLFLOW_TRACKING_URI=http://localhost:5001
            echo "mlflow URI set to: $MLFLOW_TRACKING_URI"
            
            echo "== dbg: Check env =="
            pip list
            python -c "import torch; print(torch.__version__)" || echo "Torch not found in deploy step"
            
            echo "== pull latest DVC data =="
            dvc pull
            rm -f .dvc/tmp/rwlock
            
            echo "== Run DVC pipline"
            if [ "$DATA_CHANGED" = "true" ]; then
              echo "data changed detected -> training"
              dvc repro --force
            else
              echo "no data changes - running pipeline"
              dvc repro
            fi
            
            echo "== push artifact back to DVC remote =="
            dvc push
            
            # dvc repro in data.yml auto check for us if model created ;) -> auto track without 
            # manually add "dvc add"
  build_and_push:
    name: build docker image and push ghcr
    needs: train_on_server
    runs-on: ubuntu-latest
    # why we have this output here
    # find the step id == image and get value -> return it as outputs for another job can use it :<
    outputs:
      image_name: ${{ steps.image.outputs.value }}

    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: set lowercase image name
        id: image
        run: |
          IMAGE_LOWER=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          echo "IMAGE_NAME_LOWER=${IMAGE_LOWER}" >> $GITHUB_ENV
          echo "value=${IMAGE_LOWER}" >> $GITHUB_OUTPUT

      # for caching and fast build ;<
      # don't need to download multiple time dependencies and parallel processing cmd
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: generate tag metadata
        id: tag
        run: |
          MODEL_VERSION=$(date +%Y%m%d-%H%M%S)
          TIMESTAMP=$(date +%Y%m%d-%H%M%S)
          echo "model_version=$MODEL_VERSION" >> $GITHUB_OUTPUT
          echo "timestamp=$TIMESTAMP" >> $GITHUB_OUTPUT

      - name: docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LOWER }}
          tags: |
            type=raw,value=latest
            type=raw,value=model-${{ steps.tag.outputs.model_version }}
            type=raw,value=deploy-${{ steps.tag.outputs.timestamp }}
            type=sha,prefix=sha-

      - name: build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            MODEL_VERSION=${{ steps.tag.outputs.model_version }}
          cache-from: type=gha
          cache-to: type=gha, mode=max

      - name: build and push ui image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.ui
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LOWER }}-ui:latest
          cache-from: type=gha
          cache-to: type=gha, mode=max

  deploy_to_ec2:
    name: deploy to ec2
    needs: build_and_push
    runs-on: ubuntu-latest

    steps:
      - name: ssh deploy container on ec2
        uses: appleboy/ssh-action@v1.1.0
        env:
          IMAGE_NAME: ${{ needs.build_and_push.outputs.image_name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: ${{ secrets.EC2_PORT }}
          envs: IMAGE_NAME,GITHUB_TOKEN,GITHUB_ACTOR
          script: |
            echo "logging to githuv container registry"
            echo ${GITHUB_TOKEN} | docker login ghcr.io -u ${GITHUB_ACTOR} --password-stdin
            
            echo "pulling latest images"
            docker pull ghcr.io/${IMAGE_NAME}:latest
            docker pull ghcr.io/${IMAGE_NAME}-ui:latest
            
            echo "stopping and removing old containers"
            docker stop ui-container || true
            docker rm ui-container || true
            docker stop app-container || true
            docker rm app-container || true
            
            echo "creating network if not exists"
            docker network create mlops-net || true
            
            echo "starting backend container"
            docker run -d --name app-container \
              --network mlops-net \
              -p 8000:8000 \
              --restart unless-stopped \
              -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
              -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
              -e S3_BUCKET=${{ secrets.S3_BUCKET }} \
              -e S3_MODEL_KEY="models/hardhat-detector/production/best.pt" \
              -e MODEL_PATH="models/production.pt" \
              ghcr.io/${IMAGE_NAME}:latest
            
            echo "starting ui container"
            docker run -d --name ui-container \
              --network mlops-net \
              -p 3000:3000 \
              --restart unless-stopped \
              -e API_URL="http://app-container:8000" \
              ghcr.io/${IMAGE_NAME}-ui:latest
            
            echo "Cleaning up old images"
            docker image prune -f
          
